.nav-menu-btn {
	position: fixed;
	z-index: 99999;
	top: 5px;
	left: 25px;
	cursor: pointer;
	line-height: 0;
	width: 60px;
	cursor: pointer;
	line-height: 0;
	text-align: center;
	display: none;
}

nav {
	position: fixed;
	top: 120px;
	z-index: 9999;
	
}

.nav-logo {
	display: none;
}

.nav-wrapper {
	border-right: solid #333 1px;
/*	background-color: #198;*/
}

nav ul {
	list-style: none;
	padding-left: 0;
	text-align: right;
	padding: 0 40px;
}
nav li {
	padding: 10px 0;

}
nav a {
	text-decoration: none;
	color: #333;
}

nav a:hover {
	text-decoration: underline;
}

.active {
	font-weight: bold;
}



@media only screen and (max-width: 860px) {
	.nav-menu-btn {
		display: initial;
	}

	.nav-links-active .nav-logo {
		display: block;
		position: fixed;
		top: 17px;
		width: 60px;
		left: 50%;
		transform: translatex(-50%);
	}

	nav {
		top: 0;
		background-color: blue;
	}

	.nav-links {
		left: -200px;
	}

	.nav-links-active {
		width: 100%;
		left: 0;
		background-color: #fff;
		height: 100vh;
		z-index: 9999;
	}

	.nav-wrapper {
		position: relative;
		width: 150px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		margin-left: auto;
		margin-right: auto;
		border-left: solid 1px #333;
		border-right: none;

	}

	nav ul {
		text-align: left;
	}
}